.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  &--open {
    visibility: visible;
  }

  &__body {
    position: relative;
    background-color: $bg-color-black;
    border-radius: 8px;
    color: white;
    padding: 30px;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.6);
    &:before,
    &:after {
      position: absolute;
      content: " ";
      height: 33px;
      width: 3px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  @include screen-above(mobile) {
    position: fixed;
    height: 100vh;

    &__body {
      padding: 40px;
      width: 30vw;
      min-width: 500px;
    }
  }
}
